.fase-vermelha {
  --phase-color: var(--red)
}

.fase-azul {
  --phase-color: var(--blue)
}

.fase-verde {
  --phase-color: var(--green)
}

.fase-vermelha {
  --phase-color: var(--red)
}

.fase-azul {
  --phase-color: var(--blue)
}

.fase-verde {
  --phase-color: var(--green)
}

.fase-vermelha {
  --phase-color: var(--red)
}

.fase-azul {
  --phase-color: var(--blue)
}

.fase-verde {
  --phase-color: var(--green)
}

.estilo-hierarquizacao-apresentacao-processo-hierarquizacao-conteudo-10 {
  font-size:2rem
}

.fase-vermelha {
  --phase-color: var(--red)
}

.fase-dourada {
  --phase-color: var(--gold)
}

.fase-ciano {
  --phase-color: var(--cyan)
}

.fase-azul {
  --phase-color: var(--blue)
}

.estilo-hierarquizacao-apresentacao-processo-hierarquizacao-conteudo-15 {
  width:100%
}

.estilo-hierarquizacao-apresentacao-processo-hierarquizacao-conteudo-16 {
  width:0
}

.estilo-hierarquizacao-apresentacao-processo-hierarquizacao-conteudo-17 {
  width:70%
}

.estilo-hierarquizacao-apresentacao-processo-hierarquizacao-conteudo-18 {
  width:30%
}

.estilo-title-20 {
  color:white
}

.fase-vermelha {
  --phase-color: var(--red)
}

.fase-azul {
  --phase-color: var(--blue)
}

.fase-verde {
  --phase-color: var(--green)
}
