{% from "componentes/navbar_modulo/_barra.html" import barra with context %}
{{ barra("Páginas do MOCAD", [
  {"texto": "Demandas", "itens": [
    {"href": "/restrict/painel/", "texto": "Painel de demandas"},
    {"href": "/restrict/demandas/", "texto": "Tabela de demandas"},
    {"href": "/restrict/demanda/", "texto": "Análise de demandas"}
  ]},
  {"texto": "Cadastro e documentos", "itens": [
    {"href": "/restrict/complementacao/", "texto": "Complementação de cadastro"},
    {"href": "/restrict/sei-documentos/", "texto": "Contribuições do SEI"}
  ]}
]) }}
