{% extends "bases/base_conteudo.html" %}
{% set subtitulo = "Guia para o passo 1 do cadastro" %}
{% set navegacao = "publica" %}
{% set requer_autenticacao = false %}

{% block titulo %}Como escolher a diretoria{% endblock %}
{% block classes_body %}ref-page{% endblock %}
{% block base_url %}<base href="/public/cadastro/">{% endblock %}

{% block estilos_pagina %}
  <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
{% endblock %}

{% block conteudo %}
<main class="conteudo-principal app-main ref-main">
    <div id="conteudo"></div>
  </main>
{% endblock %}

{% block scripts_pagina %}
  <script src="/public/cadastro/referencia-render.js"></script>
  <script src="/assets/js/paginas/cadastro-catalogo-diretorias-inline-1.js"></script>
{% endblock %}
